<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IoC" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <IoC xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--Account-->
      <register type="FB.Account.Domain.Interface.IAccountRepository, FB.Account.Domain"
                     mapTo="FB.Account.Repository.AccountRepository, FB.Account.Repository" />
      <register type="FB.Account.Domain.Interface.IAccountService, FB.Account.Domain"
                 mapTo="FB.Account.Service.AccountService, FB.Account.Service" />
    </container>
  </IoC>
</configuration>