
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--begin::Fonts -->
    <!--end::Fonts -->
    <style>
        .notification {
            background-color: #555;
            color: white;
            text-decoration: none;
            padding: 15px 26px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }

            .notification:hover {
                background: red;
            }

            .notification .badge {
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 5px 10px;
                border-radius: 50%;
                background-color: red;
                color: white;
            }
    </style>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltip.js/1.3.2/umd/tooltip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/assets/css/metronic-style.bundle.min.css" />
    <link rel="stylesheet" href="/assets/css/flaticon.css" />
    <link rel="stylesheet" href="/assets/css/flaticon2.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />

    <title>Trang chủ</title>
    @*<title>@ViewBag.Title</title>*@
</head>

<!-- begin::Body -->

<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">

    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="/Home/Home">
                <img class="img-fluid" style="width: 40px;" alt="Logo" src="/assets/images/logo.png" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler"
                    id="kt_aside_mobile_toggler">
                <span></span>
            </button>
        </div>
    </div>

    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="fas fa-times"></i></button>
            <div class="kt-aside kt-aside--fixed kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop"
                 id="kt_aside">

                <!-- begin:: Brand -->
                <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                    <div class="kt-aside__brand-logo">
                        <a href="/Home/Home">
                            <img class="img-fluid" alt="Logo" src="/assets/images/logo.png" />
                        </a>
                    </div>
                </div>

                <!-- end:: Brand -->
                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="kt-aside-menu kt-aside-menu--dropdown " data-ktmenu-vertical="1"
                         data-ktmenu-dropdown="1" data-ktmenu-scroll="0">
                        <ul class="kt-menu__nav " id="clickActive">
                            <li id="tabHome" class="kt-menu__item kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here sang-active"
                                aria-haspopup="true" data-ktmenu-submenu-toggle="click"
                                data-ktmenu-dropdown-toggle-class="kt-aside-menu-overlay--on">
                                <a href="/Home/Home" class="kt-menu__link" data-toggle="tooltip" title="Home">
                                    <i class="fas fa-home"></i>
                                    <span class="kt-menu__link-text">Home</span>
                                </a>
                            </li>
                            <li id="tabAccount" class="kt-menu__item kt-menu__item--submenu kt-menu__item--bottom sang-active" aria-haspopup="true"
                                data-ktmenu-submenu-toggle="click" data-ktmenu-link-redirect="1">
                                <a class="kt-menu__link kt-menu__toggle" data-toggle="tooltip" title="Quan Li Tai Khoan">
                                    <i class="fas fa-user"></i>
                                    <span class="kt-menu__link-text">Quan Li Tai Khoan</span>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item kt-menu__item--parent kt-menu__item--bottom"
                                            aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <span class="kt-menu__link">
                                                <span class="kt-menu__link-text">Quan Li Tai Khoan</span>
                                            </span>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Account/AddAccount" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Them Tai Khoan</span>
                                            </a>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Account/AccountList" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">AccountList</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="tabRoute" class="kt-menu__item kt-menu__item--submenu kt-menu__item--bottom sang-active" aria-haspopup="true"
                                data-ktmenu-submenu-toggle="click" data-ktmenu-link-redirect="1">
                                <a class="kt-menu__link kt-menu__toggle" data-toggle="tooltip" title="RouteManagement">
                                    <i class="fas fa-route"></i>
                                    <span class="kt-menu__link-text">RouteManagement</span>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">

                                        <li class="kt-menu__item kt-menu__item--parent kt-menu__item--bottom"
                                            aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <span class="kt-menu__link">
                                                <span class="kt-menu__link-text">RouteManagement</span>
                                            </span>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Route/AddRoute" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">AddRoute</span>
                                            </a>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Route/ListRoute" class="kt-menu__link">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">ListOfRoutes</span>
                                            </a>
                                        </li>
                                        @*<li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                                <a href="/Account/AddAccount" class="kt-menu__link ">
                                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Import from Excel</span>
                                                </a>
                                            </li>*@
                                    </ul>
                                </div>
                            </li>
                            <li id="tabBus" class="kt-menu__item kt-menu__item--submenu kt-menu__item--bottom sang-active" aria-haspopup="true"
                                data-ktmenu-submenu-toggle="click" data-ktmenu-link-redirect="1">
                                <a class="kt-menu__link kt-menu__toggle" data-toggle="tooltip" title="BusManagement">
                                    <i class="fas fa-dharmachakra"></i>
                                    <span class="kt-menu__link-text">BusManagement</span>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">

                                        <li class="kt-menu__item kt-menu__item--parent kt-menu__item--bottom"
                                            aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <span class="kt-menu__link">
                                                <span class="kt-menu__link-text">BusManagement</span>
                                            </span>
                                        </li>

                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Bus/AddBus" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">AddNewBus</span>
                                            </a>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Bus/BusList" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">BusList</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="tabDriver" class="kt-menu__item kt-menu__item--submenu kt-menu__item--bottom sang-active" aria-haspopup="true"
                                data-ktmenu-submenu-toggle="click" data-ktmenu-link-redirect="1">
                                <a class="kt-menu__link kt-menu__toggle" data-toggle="tooltip" title="DriverManagement">
                                    <i class="far fa-address-card"></i>
                                    <span class="kt-menu__link-text">DriverManagement</span>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">

                                        <li class="kt-menu__item kt-menu__item--parent kt-menu__item--bottom"
                                            aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <span class="kt-menu__link">
                                                <span class="kt-menu__link-text">DriverManagement</span>
                                            </span>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Driver/AddDriver" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">AddDriver</span>
                                            </a>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Driver/DriversList" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">ListDriver</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="tabSchedule" class="kt-menu__item kt-menu__item--submenu kt-menu__item--bottom sang-active" aria-haspopup="true"
                                data-ktmenu-submenu-toggle="click" data-ktmenu-link-redirect="1">
                                <a class="kt-menu__link kt-menu__toggle" data-toggle="tooltip" title="ScheduleManagement">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span class="kt-menu__link-text">ScheduleManagement</span>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">

                                        <li class="kt-menu__item kt-menu__item--parent kt-menu__item--bottom"
                                            aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <span class="kt-menu__link">
                                                <span class="kt-menu__link-text">ScheduleManagement</span>
                                            </span>
                                        </li>

                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Schedule/ListAllSchedule" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">ScheduleList</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="tabTicket" class="kt-menu__item kt-menu__item--submenu kt-menu__item--bottom sang-active" aria-haspopup="true"
                                data-ktmenu-submenu-toggle="click" data-ktmenu-link-redirect="1">
                                <a class="kt-menu__link kt-menu__toggle" data-toggle="tooltip" title="TicketManagement">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="kt-menu__link-text">TicketManagement</span>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">

                                        <li class="kt-menu__item kt-menu__item--parent kt-menu__item--bottom"
                                            aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <span class="kt-menu__link">
                                                <span class="kt-menu__link-text">TicketManagement</span>
                                            </span>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Ticket/TicketList" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">SoldTicketsManagement</span>
                                            </a>
                                        </li>

                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Ticket/SearchTicket" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">LookUpTickets</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="tabTemplate" class="kt-menu__item kt-menu__item--submenu kt-menu__item--bottom sang-active" aria-haspopup="true"
                                data-ktmenu-submenu-toggle="click" data-ktmenu-link-redirect="1">
                                <a class="kt-menu__link kt-menu__toggle" data-toggle="tooltip" title="TemplateManagement">
                                    <i class="fas fa-file-excel"></i>
                                    <span class="kt-menu__link-text">TemplateManagement</span>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">

                                        <li class="kt-menu__item kt-menu__item--parent kt-menu__item--bottom"
                                            aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <span class="kt-menu__link">
                                                <span class="kt-menu__link-text">TemplateManagement</span>
                                            </span>
                                        </li>
                                        <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-link-redirect="1">
                                            <a href="/Template/TemplatesList" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">TemplateList</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- end:: Aside Menu -->
            </div>
            <div class="kt-aside-menu-overlay"></div>

            <!-- end:: Aside -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid kt-grid--ver kt-header--fixed ">

                    <!-- begin: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>
                    <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile kt-header-menu--layout- ">
                        </div>
                    </div>

                    <!-- end: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar">
                        <!--begin: Language bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--langs">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px" aria-expanded="false">
                                <span class="kt-header__topbar-icon">
                                    <img id="img_selected_lang" class="" src="~/assets/images/vi.png" alt="">
                                </span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1356px, 64px, 0px);">
                                <ul class="kt-nav kt-margin-t-10 kt-margin-b-10 lang-dropdown">
                                    <li class="kt-nav__item kt-nav__item--active">
                                        <a id="lang_EN" href="#" class="kt-nav__link">
                                            <span class="kt-nav__link-icon"><img src="~/assets/images/en.png" alt=""></span>
                                            <span class="kt-nav__link-text">English</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a id="lang_VI" href="#" class="kt-nav__link">
                                            <span class="kt-nav__link-icon"><img src="~/assets/images/vi.png" alt=""></span>
                                            <span class="kt-nav__link-text">Việt Nam</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle notification" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="badge">3</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>
                        <!--end: Language bar -->
                        <!--begin: User bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                                <img alt="Pic" src="/assets/images/user.png" />
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                                <!--begin: Head -->
                                <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                                    <div class="kt-user-card__avatar">
                                        <img alt="Pic" src="/assets/images/user.png" />
                                    </div>

                                    <div class="kt-user-card__name">
                                        Admin
                                    </div>
                                    <div class="kt-user-card__badge">
                                        <a class="btn btn-primary" href="/Account/UserProfile">
                                            Profile
                                        </a>

                                    </div>

                                </div>

                                <!--end: Head -->
                                <!--begin: Navigation -->

                                <div class="kt-notification">
                                    <div class="kt-notification__custom kt-space-between ">
                                        <a class="btn btn-label btn-label-brand btn-sm btn-bold"
                                           href="@Url.Action("LogOut", "Account")">Đăng xuất</a>
                                    </div>

                                </div>
                                <!--end: Navigation -->
                            </div>
                        </div>

                        <!--end: User bar -->
                    </div>

                    <!-- end:: Header Topbar -->
                </div>
                <!-- end:: Header -->

                @RenderBody()

                <!-- begin:: Footer -->
                <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            2020&nbsp;&copy;&nbsp;<a href="/" target="_blank"
                                                     class="kt-link">Football</a>
                        </div>
                        <div class="kt-footer__menu">
                            <a href="/" target="_blank"
                               class="kt-footer__menu-link kt-link"></a>
                            <a href="/" target="_blank"
                               class="kt-footer__menu-link kt-link"></a>
                        </div>
                    </div>
                </div>

                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <!-- end::Global Config -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.2.0/sticky.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="/assets/js/metronic-scripts.bundle.min.js"></script>
    <script src="/assets/js/storage.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="~/Scripts/layout.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script><!-- thông báo dạng sweetAlert-->
    <script src="~/Scripts/bootstrap-notify.min.js"></script><!-- thông báo dạng Notify-->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#22b9ff",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>
</body>

<!-- end::Body -->

</html>
